{% include 'partials/header.html' %}
    <h1>{{todo.title}}</h1>
    <p>
        {{todo.text}}
    </p>
    <br>
    created on {{todo.created_at}}
    <br />
    <br />
    <a href='/todos'>Go back</a>
{% include 'partials/footer.html'%}
