{% include 'partials/header.html' %}
            <!--
            <ul>
                {% for todo in todos%}
                <li><a href="/todos/details/{{todo.id}}">{{todo.title}} </a>: {{todo.text}}</li>
                {% endfor%}
            </ul>
             -->


            <table class="table table-stripped">
                {% for todo in todos%}
                <tr>
                    <td>
                        <a href="/todos/details/{{todo.id}}">{{todo.title}} </a>
                    </td>
                    <td>
                        {{todo.text}}
                    </td>
                </tr>
                {% endfor %}
            </table>


{% include 'partials/footer.html'%}
